@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin-top: 50px;
    background-color: #d9d7d7;
    font-family: Poppins, sans-serif;
  }
  
  
  .login-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    align-items: center;
  }
  
  .login-txt {
    font-weight: bold;
    font-size: 60px;
    color: rgb(62, 62, 181);
  }
  
  .email-field {
    background-color: #fff;
    padding: 15px 10px;
    width: 500px;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    border-radius: 8px;
    align-items: center;
  }
  
  .email-field input {
    width: 100%;
    border: none;
    outline: none;
  }
  
  .img-container img {
    height: 500px;
  }
  
  .btn,
  .g-btn {
    text-align: center;
    padding: 15px 10px;
    border-radius: 8px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.3s;
  }
  
  .btn {
    background-color: rgb(62, 62, 181);
  }
  
  .btn:hover {
    background-color: blue;
    transform: translateY(-5%);
  }
  
  .g-btn {
    background-color: rgb(193, 38, 35);
  }
  
  .g-btn:hover {
    background-color: rgb(238, 13, 10);
    transform: translateY(-5%);
  }
  
  .acc {
    margin-top: 10px;
  }
  
  .acc span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .login-container {
      flex-direction: column;
      padding: 10px 30px;
      text-align: center;
    }
  
    .login-txt {
      font-size: 30px;
    }
  
    .img-container img {
      height: 300px;
    }
  
    .email-field {
      width: 100%;
      padding: 10px;
    }
  
    .btn,
    .g-btn {
      padding: 10px 5px;
    }
  }
  